[defaults]
inventory = inventory.ini
roles_path = roles
host_key_checking = false
retry_files_enabled = false
stdout_callback = default
result_format = yaml
nocows = true
forks = 10
interpreter_python = auto_silent

[ssh_connection]
pipelining = true
control_path = ~/.ssh/ansible-%%r@%%h:%%p
